 table {
 width: 50%;
 border-collapse: collapse;
margin: 50px auto;
font-size: 35px;
 }
 th, td {
border: 1px solid #aaa;
padding: 10px;
text-align: center;
}
.btn {
padding: 5px 10px;
background-color: #5F27CD;
color: white;
text-decoration: none;
border-radius: 5px;
  }